{% set content = page.header.content %}
{% set title = page.header.title %}
{% set slides = content.slides %}


{% block content %}
    <section class="about_section">
        <div class"container">
            <div class="row responsive_about">
                <div class="col-12 col-xl-6 md-4">
                    <h2> {{page.title}} </h2>
                    <div class="title_underline"></div>
                    <div class="about_text">
                        <h1> {{content.heading}} </h1>
                        <p> {{content.description}} </p>
                        <a class="btn"> {{content.btn}} </a>
                    </div>
                </div>
                <div class="col-12 col-xl-6 md-4">
                    <div class="slider_container">
                        <div class="swiper card_slider">
                            <div class="swiper-wrapper">
                            {% for item in slides %}
                                <div class="swiper-slide">
                                    <div class="image_box">
                                    <img src="{{page.media[item.slide].url}}" alt="demo.png"/>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                                <div class="swiper-button-next"></div>
                                 <div class="swiper-button-prev"></div>
                                 <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </section>
{% endblock %}