{% set content = page.header.content %}
{% set slide_1 = content.slides_1 %}
{% set slide_2 = content.slides_2 %}



{% block content %}

    <section class="hobby_section">
        <div class="container">
            <div class="hobby_responsive"> 
                <div class="col-6 ">
                    <div class="hobby_title">
                        <h2>{{ content.heading_1 }}</h2>
                    </div>
                    <div class="swiper hobby_slide">
                        <div class="swiper-wrapper">
                            {% for item_p in slide_1 %}
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="{{page.media[item_p.slide].url}}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="hobby_title">
                        <h2>{{ content.heading_2 }}</h2>
                    </div>
                    <div class="swiper hobby_slide">
                        <div class="swiper-wrapper">
                            {% for item_a in slide_2 %}
                                <div class="swiper-slide">
                                    <div class="img_box">
                                        <img src="{{page.media[item_a.slide].url}}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                    <div class="hobby_title">
                        <h2>{{ content.heading_2 }}</h2>
                    </div>
                    <div class="swiper window_slide">
                        <div class="swiper-wrapper">
                            {% for item_a in slide_2 %}
                                <div class="swiper-slide window_swiper">
                                    <div class="img_box1">
                                        <img src="{{page.media[item_a.slide].url}}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div> 
    </section>

{% endblock %}